@charset "UTF-8";

:root {
  /* Cores */
  --primary-color: #0FA3B1;
  --second-color: #1A2B4C;
  --third-color: #F29F05;

  --defaut-write-color: #F7F4F3;
}

/* ==========================================================================
   2. RESET MODERNO & CONFIGURAÇÕES GERAIS
   ========================================================================== */
/* Garante que padding e border não aumentem o tamanho total dos elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Melhora a rolagem e garante altura total */
html {
  scroll-behavior: smooth;
  height: 100%;
}

/* Configurações base do corpo da página */
body {
  line-height: 1.5;
  min-height: 100%;
  background-color: var(--defaut-write-color);
  overflow-x: hidden;
}

header {
    border-bottom: 2px solid var(--second-color);
}

#btnmenu {
    display: block;
    position: fixed;
    top: 0px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
    font-size: 35px;
    color: white;
}

nav {
    display: flex;
    position: fixed;
    width: calc(100% - 50px);
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    transition: 0.2s;
    list-style-type: none;
    z-index: 999;
}

nav.ativa {
    width: calc(100% - 300px);
    margin-left: 300px;
}

nav h1 {
    color:var(--third-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-weight: 800;
}

nav ul li {
    color: var(--defaut-write-color);
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: var(--defaut-write-color);
}

.nav-links li a:hover {
    color: var(--third-color);
    transition: 0.4s;
}

#pesquisa {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
}

.sidebarline {
    margin-bottom: 10px;
    gap: 5px;
}

.sidebarline img {
    width: 30px;
    border-left: 2px solid transparent
}

.sidebarline img:hover {
    border-left: 2px solid var(--third-color);
    transition: 0.4s;
    cursor: pointer;
    transform: scale(1.1);
}

.sidebarline a {
    margin-top: auto;
    margin-bottom: auto;
}

aside {
    display: block;
    position: fixed; /*Manter a barra fixa e sem ser empurrada para baixo*/
    background-color: var(--second-color);
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-left: 5px;
    width: 50px;
    min-width: 50px;
    height: 100vh;
    transition: 0.2s;
}

#sidebar.ativa {
    width: 300px;
    min-width: 300px;
}

#sidebar a {
    display: none;
    font-size: 17px;
    cursor: pointer;
}

#sidebar.ativa a {
    display: block;
}

#sidebar img {
    margin-left: 5px;
    cursor: pointer;
}

aside div {
    display: flex;
    font-size: 25px;
    
}



#main {
    margin-top: 30px;
    margin-left: 50px;
    transition: 0.2s;
    padding: 20px;
    flex-wrap: wrap;
}

#main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#main.ativa {
    margin-left: 300px;
}

.ativosContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin: auto;
}

.card {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card img:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}