@charset "UTF-8";


:root {
  /* Cores */
  --primary-color: #034C8C;
  --second-color: #023E73;
}

/* ==========================================================================
   2. RESET MODERNO & CONFIGURAÇÕES GERAIS
   ========================================================================== */
/* Garante que padding e border não aumentem o tamanho total dos elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Melhora a rolagem e garante altura total */
html {
  scroll-behavior: smooth;
  height: 100%;
}

/* Configurações base do corpo da página */
body {
  line-height: 1.5;
  min-height: 100%;
}

#btnmenu {
    display: block;
    position: fixed;
    top: 0px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
    font-size: 35px;
    color: white;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 60vw;
    align-items: center;
    background-color: var(--primary-color);
    transition: 0.3s;
    list-style-type: none;
}

#headernav.ativa {
    gap: 30vw;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    margin-right: 10px;

}

.sidebarline {
    margin-bottom: 10px;
    gap: 5px;
}

.sidebarline img {
    width: 37px;
}

.sidebarline h2 {
    margin-top: auto;
    margin-bottom: auto;
}

aside {
    display: block;
    position: fixed; /*Manter a barra fixa e sem ser empurrada para baixo*/
    background-color: var(--second-color);
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-left: 5px;
    width: 50px;
    min-width: 50px;
    height: 100vh;
    transition: 0.3s;
}

#sidebar.ativa {
    width: 300px;
    min-width: 300px;
}

#sidebar h2 {
    display: none;
    font-size: 20px;
}

#sidebar.ativa h2 {
    display: block;
}

aside div {
    display: flex;
    font-size: 25px;
    
}



#main {
    margin-left: 50px;
    transition: 0.3s;
}

#main.ativa {
    margin-left: 300px;
}

